{% extends 'base.html' %}

{% block content %}

{% load static %}




<!-- plant -->
<div id="plant" class="section  product">
  <div class="container">
     <div class="row">
        <div class="col-md-12 ">
           <div class="titlepage">
              <h2><strong class="black"> Set</strong>  List</h2>
              <span>Here is the information for the service and the set list for the event. Please if you are on schedule please learn the songs and your parts well</span>
           </div>
        </div>
     </div>
  </div>
</div>
  <div class="clothes_main section ">
   <div class="container">
     <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
           <div class="sport_product">
             <h1><strong>Session 1:</strong></h1>
             <h1>Duration:</h1>
             <h1>Lead:</h1>
             <h1>Song 1:</h1>
             <h1>Song 2:</h1>
             <h1>Song 3:</h1>
             <h1>YouTube Links: </h1>
             <h1>Lyrics:</h1>

              <!--<figure><img src="images/basketball.png" alt="img"/></figure>
             <h3><strong class="price_text">50</strong></h3>-->

           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
           <div class="sport_product">
             <h1><strong>Session 2:</strong></h1>
             <h1>Duration:</h1>
             <h1>Lead:</h1>
             <h1>Song 1:</h1>
             <h1>Song 2:</h1>
             <h1>Song 3:</h1>
             <h1>YouTube Links: </h1>
             <h1>Lyrics:</h1>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
           <div class="sport_product">
             <h1><strong>Session 3:</strong></h1>
             <h1>Duration:</h1>
             <h1>Lead:</h1>
             <h1>Song 1:</h1>
             <h1>Song 2:</h1>
             <h1>Song 3:</h1>
             <h1>YouTube Links: </h1>
             <h1>Lyrics:</h1>
           </div>
        </div>



        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
           <div class="sport_product">
             <h1><strong>Session 4:</strong></h1>
             <h1>Duration:</h1>
             <h1>Lead:</h1>
             <h1>Song 1:</h1>
             <h1>Song 2:</h1>
             <h1>Song 3:</h1>
             <h1>YouTube Links: </h1>
             <h1>Lyrics:</h1>
           </div>
        </div>
        <!--<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
           <div class="sport_product">
              <figure><img src="images/t-shirt.png" alt="img"/"></figure>
             <h3> $<strong class="price_text">50</strong></h3>
              <h4>T-Shirt</h4>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
           <div class="sport_product">
              <figure><img src="images/game.png" alt="img"/"></figure>
             <h3> $<strong class="price_text">50</strong></h3>
              <h4>Game</h4>
           </div>
        </div>-->
      </div>
     </div>
    </div>
</div>
<!-- end plant -->

 {% endblock %}